<div class="sidebar-card card">
  <div class="card-header">
    Archives
  </div>
  <%
    const posts = site.posts.sort("date", -1);

    const data = [];
    let length = 0;

    posts.forEach(post => {
      let date = post.date.clone();

      if (config.timezone) date = date.tz(config.timezone);
      if (config.language) date = date.locale(config.language);

      const year = date.year();
      const name = date.format("YYYY");
      const lastData = data[length - 1];

      if (!lastData || lastData.name !== name) {
        length = data.push({
          name,
          year,
          count: 1
        });
      } else {
        lastData.count++;
      }
    });
  %>
  <ul class="list-group list-group-flush">
    <% data.forEach(archive => { %>
      <%
        let url = `/${config.archive_dir}/${archive.year}/`;
      %>
      <a class="list-group-item" href="<%= url %>"><%= archive.name %> <span class="badge badge-primary"><%= archive.count %></span></a>
    <% }) %>
  </ul>
</div>