<div class="sidebar-card card">
  <div class="card-header">
    Recent Posts
  </div>
  <ul class="list-group list-group-flush">
    <% site.posts.sort("date", -1).limit(5).each(post => { %>
      <a class="list-group-item" href="<%- url_for(post.path) %>"><%= post.title || "Untitled" %></a>
    <% }); %>
  </ul>
</div>