<div class="section">
  <h1>What is CADS?</h1>
  <p>
    CADS is a youth initiative setup by <a href="https://www.3sdl.com/">3SDL</a>,
    with the aim to encourage students from schools in the Malvern area to get
    involved with and gain experience in the Cyber Security industry.
  </p>
</div>

<div class="section">
  <%- partial('partials/recent-posts') %>
  <%- partial('partials/paginator') %>
</div>