@import url('https://fonts.googleapis.com/css?family=Overpass+Mono');

/* BRANDING */
/*
  Palette:  No. HEX....   R.., G.., B..
            1   #00BC8C     0, 188, 140
            2   #0DCD7B    13, 205, 123
            3   #1CDE6B    28, 222, 107
            4   #2DEE5B    45, 238,  91
            5   #40FF4E    64, 255,  78
  Font: Overpass Mono
*/


/* POST CSS */

.post-image {
  width: 60vw;
  text-align: center !important;
  display: block;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 425px) {
  .post-image {
    width: 100%;
  }
}

/* STICKY FOOTER */

.content {
  min-height: 100vh;
}

#footer {
  width: 100%;
  /* height: 60px; */
}

/* CUSTOM FONTS */

* {
  font-family: 'Overpass Mono', monospace;
}

/* GENERAL STYLING */

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* HERO */
#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/hero.jpg");

  z-index: -2;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  text-align: center;

  min-height: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-logo {
  padding: 1em;
  width: 25em;
  max-width: 90vw;
}

#hero-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/* ICONS */
.mdi::before {
  font-size: 24px;
  line-height: 14px;
}
.btn .mdi::before {
  position: relative;
  top: 4px;
}
.btn-xs .mdi::before {
  font-size: 18px;
  top: 3px;
}
.btn-sm .mdi::before {
  font-size: 18px;
  top: 3px;
}
.dropdown-menu .mdi {
  width: 18px;
}
.dropdown-menu .mdi::before {
  position: relative;
  top: 4px;
  left: -8px;
}
.nav .mdi::before {
  position: relative;
  top: 4px;
}
.navbar .navbar-toggle .mdi::before {
  position: relative;
  top: 4px;
  color: #FFF;
}
.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}
.breadcrumb a:hover {
  text-decoration: none;
}
.breadcrumb a:hover span {
  text-decoration: underline;
}
.alert .mdi::before {
  position: relative;
  top: 4px;
  margin-right: 2px;
}
.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}
.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}
.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px
}